@media screen and (max-width: 1024px) {
  .TopBanner {
    height: 39px;
    font-size: 0.75rem;
  }
  .nav {
    height: 80px;
    padding: 0 10px;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    border: 1px solid #C5C5C5;
    box-sizing: border-box;
  }
  .nav ul {
    width: 100%;
  }
  .nav ul li {
    font-size: 0.813rem;
  }
  .nav form {
    display: none;
  }
  .Footer {
    text-align: left;
    font-size: 0.625rem;
    line-height: 2;
    background-color: #4D4D4D;
    color: white;
  }
  .Footer>p>span {
    display: block;
  }
}